body{
    background-color: black;
}
    h1{
        text-align: center;
        color: #47FF00;
    }
    #gamesDiv{
        width: 50%;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: #47FF00;
        text-align: justify;
    }
        h3{
            margin-top: 75px;
            margin-bottom: 0;
        }
        img{
            width: 50%;
            box-shadow: 7px 17px 165px 2px rgba(71,255,0,1);
        }
