*{
    margin: 0;
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ffff12;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}

#gameContainer{
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border: solid 5px black;
    box-shadow: inset 0px 0px 111px 58px rgba(0,0,0,0.6);
    background-color: #3d3d3d;
}

#gameCover{
    width: 100%;
    margin-top: 40%;
    text-align: center;
    color: #ffff12;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#startButton{
    background-color: #ffff12; 
    border: none;
    color: black;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%
}

#startButton:hover{
    box-shadow: 0px 0px 13px 14px rgba(0,0,0,0.85);
    cursor: pointer;
}

#player{
    display: none;
}

#playerImg{
    height: 100;
    width: 100;
    border-radius: 50%;
    box-shadow: 6px 6px 10px 1px rgba(0,0,0,1);
}

